*{
  background-color: rgb(146, 143, 143);
  text-decoration-color: white;
}
.App {
  text-align: center;
  
}
h2{
  text-align: center;
}
div{
  color: white;
}
button{
  color: white;
}
/* .first-box{
  border-style: solid;
  /* border-color: solid white; */

 /* justify-self: center;
  align-self: center;
  height: 100px;
  width: 50%;
  left: 20%; */

.trynum2{
  text-emphasis-color: white;
}

.trynum4{
  display: flex;
  position: relative;
  margin:auto;
  padding: 10px;
  border-style: solid;
  width: 50%;
  align-items: flex-start;
  
}
.button1{
  display: flex;
  position: absolute;
  right: 0px;
  

}
.button2{
  display: flex;
  position: absolute;
  right: 80px;
}