*{
  background-color: rgb(10, 10, 12);
  text-decoration-color: white;
}
.App {
  text-align: center;
  
}
h2{
  text-align: center;
}
div{
  color: white;
}
button{
  color: white;
}
/* .first-box{
  border-color: solid white;
  position: relative;
  flex: auto;
  height: 100px;
  width: 50%;
} */